<!DOCTYPE html>
<!-- Comentariu
-->
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
        <meta name="keywords"
            content="Good Food By D, alimente sanatoase, alimente vegane, produse vegane, produse naturale, suplimente alimentare, magazin online alimente, nutritie echilibrata, gustari sanatoase, fara zahar, sugar free, fara gluten, gluten free, bauturi naturale, vegan, picant, tofu, leguminoase, condimente, seminte, paste, paste tartinabile, transport la domiciliu, Bucuresti">
        <!--cuvintele cheie ale paginii; majoritatea motoarelor de cautare ignora keywords -->
        <meta name="description"
            content="DK Vegan Food ofera cele mai bune produse vegane raport calitate-pret. Transportul la domiciliu este realizat in 1-2 zile.">
        <title>Good Food By D</title>
        <!-- descrierea paginii, adesea apare sub link cand sunt afisate rezultatele cautarii -->
</head>

<body>
    <style>
        body {
            background-image: url('/resurse/imagini/pineapples-1853466.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <%- include("../fragmente/header.ejs") %>
        <%- include("../fragmente/galerie.ejs") %>
            <!-- <section id="galerie-animata">
                <h2>Galerie animata</h2>
                <%- include("../fragmente/galerie_animata.ejs") %>
            </section>-->
            <main>
                <div id="grid-pagina">
                    <section id="welcome">
                        <h2>Bine ai venit</h2>
                        <%- include("../fragmente/formular-login.ejs") %>
                        <%- include("../fragmente/locatie.ejs") %>
                        <%- include("../fragmente/ora-server-client.ejs") %>
                        <div class="container-calendar">
                        <%- include("../fragmente/evenimente.ejs") %>
                        </div>
                            <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                            <%- include("../fragmente/useri-online.ejs") %>
                            <p>Ip: <%- locals.ip %></p>
                            <div class="imagini">
                                <figure class="img">
                                    <picture>
                                        <source srcset="./resurse/imagini/salad-2756467_640.jpg"
                                            media="(max-width:700px)" />
                                        <source srcset="./resurse/imagini/vegan-1343429_640.png"
                                            media="(max-width:1200px)" />
                                        <img class="imagini" src="./resurse/imagini/food-3256546_640.jpg" alt=" text" />
                                    </picture>
                                </figure>
                            </div>
                            <p class="intro" style="color:var(--culoare-inchisa); text-decoration:underline;"><abbr>
                                <img class="fig0" img src="./resurse/imagini/vegan-2440127_640.jpg" alt="sigla" />
                                    <title Good Food By D>GFBD</title>
                                </abbr>
                                <span>
                                    GFBD este un magazin online cu produse de origine
                                    <b>vegetariana</b> si <b>vegana</b>. Stim ca <i>obezitatea</i> si <i>diabetul</i>
                                    sunt
                                    probleme
                                    la
                                    nivel global si dorim sa contribuim la rezolvarea lor prin produsele pe care le
                                    comercializam si
                                    promovarea dulciurilor <i>sugar free</i>. GFBD ofera <strong>transport
                                        gratuit</strong>
                                    la
                                    comenzi
                                    de minim <strong>150 de lei</strong>.</b> <br /> <q>A manca este o necesitate, dar a
                                        manca
                                        inteligent este o arta.</q> – La Rochefoucald
                                </span>
                            </p>

                    </section>
                    <section id="promotii">
                        <h2>Promotii</h2>
                        <section>
                            <h3>Oferta studenteasca</h3>
                            <p><span>Esti student si cauti alimente sanatoase si ieftine? Atunci ai gasit locul
                                    potrivi.
                                    Good
                                    Food
                                    By
                                    D vine in sprijinul studentilor oferind o reducere de <strong><s>10%</s>
                                        <s>15%</s>
                                        <ins>20%</ins></strong></span></p>
                                    </section>
                                    <div id="separator1"></div>
                                    <section>
                                        <h3>Oferta de primavara</h3>
                                        <p><span>Pentru ca primavara incepe cu tine iti oferim un codou. Comenzile realizate in
                                            luna
                                    martie
                                    primesc un martisor cadou. Oferim si promotia 3 la pret de 2 la produsele
                                    selectionate</span>
                            </p>
                        </section>
                    </section>
                    <section id="produse">
                        <h2>Produsele noastre</h2>
                        <p>La noi veti gasi de toate pentru toti.</p>
                        <section>
                            <h3>Alimente</h3>
                            <p>Va punem la dispozitie toate alimentele de care aveti nevoie pentru un stil de viata
                                echilibrat
                                si sanatos.</p>
                                <p>Avem alimente:</p>
                                <ul>
                                    <li>vegane</li>
                                <li>vegentariene</li>
                                <li>dietetice</li>
                                <li>cu putini carbohidrati</li>
                                <li>cu multe proteine</li>
                                <li>bio</li>
                            </ul>
                        </section>
                        <section>
                            <h3>Bauturi</h3>
                            <p>Daca vi se face sete va dam si ceva de baut.</p>
                            <p>La noi veti gasi:</p>
                            <ul>
                                <li>cafea</li>
                                <li>ape si sucuri</li>
                                <li>siropuri</li>
                                <li>bauturi proteice</li>
                                <li>bere artizanala</li>
                                <li>kombucha</li>
                            </ul>
                        </section>
                        <section>
                            <h3>Suplimente</h3>
                            <p>Iar pentru cazuri extreme venim in ajutor cu cele mai bune suplimente.</p>
                            <p>Avem suplimente cu:</p>
                            <ul>
                                <li>vitamine</li>
                                <li>minerale</li>
                                <li>aminoacizi</li>
                                <li>antioxidanti</li>
                                <li>pentru par si ten</li>
                                <li>pentru tinerete vesnica</li>
                            </ul>
                        </section>
                    </section>
                    <section id="orar">
                        <h2>Orar magazin fizic</h2>
                        <div class="container-scroll">
                            <table id="tab-orar">
                                <thead>
                                    
                                    <tr>
                                        <th>Zi</th>
                                        <th>Interval dimineata</th>
                                        <th>Pauza de masa</th>
                                        <th>Interval seara</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>Luni</td>
                                        <td>inchis</td>
                                        <td>-</td>
                                        <td>14-19</td>
                                    </tr>
                                    <tr>
                                        

                                        <td>Marti</td>
                                        <td>10-13</td>
                                        <td>13-14</td>
                                        <td>14-19</td>
                                    </tr>
                                    <tr>
                                        

                                        <td>Miercuri</td>
                                        <td>10-13</td>
                                        <td>13-14</td>
                                        <td>14-19</td>
                                    </tr>
                                    <tr>
                                        <td>Joi</td>
                                        <td>10-13</td>
                                        <td>13-14</td>
                                        <td>14-19</td>
                                    </tr>
                                    <tr>
                                        <td>Vineri</td>
                                        <td>10-13</td>
                                        <td>13-14</td>
                                        <td>14-19</td>
                                    </tr>
                                    <tr>
                                        <td>Sambata</td>
                                        <td>10-12</td>
                                        <td>12-13</td>
                                        <td>13-16</td>
                                    </tr>
                                    <tr>
                                        <td>Duminica</td>
                                        <td>10-14</td>
                                        <td>-</td>
                                        <td>inchis</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">Comenzile pe site se pot realiza oricand. Acestea vor fi
                                            ridicate in
                                            orele
                                            de functionare a magazinului</td>
                                        </tr>
                                    </tfoot>
                            </table>
                        </div>
                    </section>
                    <figure id="fig1" class="fg-img">
                        <div id="container-video">
                            <!-- <img class="plic" src="resurse/imagini/galerie/plic.png" alt="plic"> -->
                            <div id="centrare-video">
                                <div id="clip-video">
                                    <div id="stil-video">
                                        <video controls poster="resurse/video/noodles_poza.jpg" width="100%"
                                            height="100%">
                                            <source src="resurse/video/noodles_clip.mp4" type="video/mp4">
                                            <source src="resurse/video/noodles_clip.ogv" type="video/ogv">
                                            <track default
                                                src="data:image/png;base64,
                                        V0VCVlRUIC0gTm9vZGxlcwoKMDA6MDAuMDAwIC0tPiAwMDowMS41MDAgbGluZTowCjxzcGFuIHN0eWxlPSJmb250LXN0eWxlOml0YWxpYzsgY29sb3I6dmFyKC0tY3Vsb2FyZS10ZXh0KTsiPk5vb2RsZXMhISE8L3NwYW4+CgowMDowMS41MDAgLS0+IDAwOjAzLjAwMCBsaW5lOjAKPHNwYW4gc3R5bGU9ImZvbnQtc3R5bGU6aXRhbGljOyBjb2xvcjp2YXIoLS1jdWxvYXJlLXRleHQpOyI+Q3UgbGVndW1lISEhITwvc3Bhbj4KCjAwOjAzLjAwMCAtLT4gMDA6MDQuNTAwIGxpbmU6MAo8c3BhbiBzdHlsZT0iZm9udC1zdHlsZTppdGFsaWM7IGNvbG9yOnZhcigtLWN1bG9hcmUtdGV4dCk7Ij5DdSB0b2Z1IGNyb2NhbnQhPC9zcGFuPgoKMDA6MDQuNTAwIC0tPiAwMDowNi4wMDAgbGluZTowCjxzcGFuIHN0eWxlPSJmb250LXN0eWxlOml0YWxpYzsgY29sb3I6dmFyKC0tY3Vsb2FyZS10ZXh0KTsiPkNlaSBtYWkgYnVuaSBOb29kbGVzISEhPC9zcGFuPgoK"
                                                kind="captions" srclang="ro" label="romana">
                                            <track
                                                src="data:image/png;base64,
                                        V0VCVlRUIC0gTm9vZGxlcw0KDQowMDowMC4wMDAgLS0+IDAwOjAxLjUwMCBsaW5lOjANCjxzcGFuIHN0eWxlPSJmb250LXN0eWxlOml0YWxpYzsgY29sb3I6dmFyKC0tY3Vsb2FyZS10ZXh0KTsiPk5vb2RsZXMhISE8L3NwYW4+DQoNCjAwOjAxLjUwMCAtLT4gMDA6MDMuMDAwIGxpbmU6MA0KPHNwYW4gc3R5bGU9ImZvbnQtc3R5bGU6aXRhbGljOyBjb2xvcjp2YXIoLS1jdWxvYXJlLXRleHQpOyI+V2l0aCB2ZWdldGFibGVzISEhITwvc3Bhbj4NCg0KMDA6MDMuMDAwIC0tPiAwMDowNC41MDAgbGluZTowDQo8c3BhbiBzdHlsZT0iZm9udC1zdHlsZTppdGFsaWM7IGNvbG9yOnZhcigtLWN1bG9hcmUtdGV4dCk7Ij5BbmQgY3Jpc3B5IHRvZnUhPC9zcGFuPg0KDQowMDowNC41MDAgLS0+IDAwOjA2LjAwMCBsaW5lOjANCjxzcGFuIHN0eWxlPSJmb250LXN0eWxlOml0YWxpYzsgY29sb3I6dmFyKC0tY3Vsb2FyZS10ZXh0KTsiPlRoZSBiZXN0IE5vb2RsZXMhISE8L3NwYW4+DQoNCg=="
                                                kind="captions" srclang="en" label="engleza">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </figure>
                    <section id="anunturi">
                        <h2>Anunturi</h2>
                        <p><time datetime="2020-07-05">5 iulie 2020</time><strong> Azi si maine avem mega
                                reduceri!!!</strong>
                        </p>
                        <p><time datetime="2020-09-15">15 septembrie 2020</time> Avem sortimente noi de bauturi</p>
                        <p><time datetime="2020-12-28">28 decembrie 2020</time> Acum avem si suplimente impotriva
                            mahmurelii
                        </p>
                        <p><time datetime="2021-01-01">1 ianuarie 2021</time> Un an nou fericit!</p>
                    </section>
                    <section id="index-intrebari">
                        <h2>Intrebari frecvente</h2>
                        <details>
                            <summary>Se poate face retur la produsele desfacute?</summary>
                            <p>NU</p>
                        </details>
                        <details>
                            <summary>Se pot face comenzi telefonice?</summary>
                            <p>NU, comenzile se realizeaza doar prin intermediul site-ului. Pentru mai multe detalii
                                se
                                poate
                                apela
                                la numarul afisat pe site</p>
                        </details>
                    </section>
                    <section id="retete">
                        <h2>Retete</h2>
                        <p>Daca doriti sa achizitionati anumite alimente si nu stiti cum sa le folositi noi venim in
                            ajutorul
                            vostru cu cateva retete</p>
                        <a class="link-frumos"
                            href="https://www.instagram.com/mancare.cu.gust?igsh=MXR1cDZ3Z2s0OXR2eQ%3D%3D&utm_source=qr"
                            target="blank">Retete pe instagram</a>
                        <div class="container-iframe">
                            <div class="taburi-iframe">
                                <a class="iframe" href="https://www.youtube.com/embed/X9XYJN17jZk?si=sI5OOEveRG-rTaAw"
                                    target="ifr-video">Reteta
                                    barbos</a>
                                <a class="iframe" href="https://www.youtube.com/embed/JHI-6MSA0l4?si=bRKv0bi9KsiXRcgR"
                                    target="ifr-video">Reteta
                                    random</a>
                            </div>

                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/0OQUq32i3Eg?si=suMPTZwcXElKwOEm"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </section>
                </div>

                <!-- <a href="fisier.pdf"download>Descarcabil</a> -->

            </main>
            <%- include("../fragmente/footer.ejs") %>
</body>

</html>