    <div id="galerie-animata" class="galerie-a">
        <% var d = new Date(); 
        var oraCurenta = d.getHours();
        var parteaZilei = ""; 
        if (oraCurenta > 5 && oraCurenta < 12)
            parteaZilei = "dimineata";
        else if (oraCurenta >= 12 && oraCurenta <= 20)
            parteaZilei = "zi";
        else
            parteaZilei = "noapte";
        console.log("ora curenta este " + oraCurenta); 
        var index = 0; 
        var nrImgCriteriu = 0;
        for (let imag of locals.imagini) 
            { if (imag.timp?.includes(parteaZilei))
                { index++;%>
        <figure>
            <picture>
                <source srcset="<%= imag.fisier_mediu %>" media="(max-width:1200px)" />
                <img src="<%= imag.fisier %>" alt="<%= imag.nume %>" title="<%= imag.descriere %>" />
            </picture>
            <figcaption><%= imag.descriere %></figcaption>
        </figure>
        <% } %> <% } %>
    </div>